/* General styling */

:root{
    --animation-speed: 1s;
}

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.6;
    overflow: hidden;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}

.page h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin: 1rem;
    color: #EB5026;
}

.page p{
    font-size: 1.3rem;
}

.btn-primary{
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all;
    background: #000;
    color: #fff;
}

.btn-primary:hover{

    background: #EB5026;
    color: #000;
}

.btn-secondary{
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all;
    background: #595353;
    color: #fff;
}

.btn-secondary:hover{
    background: #EB5026;
    color: #000;
}

/* Page styling */

#page-1{
    background: url(../img/img1.jpg) no-repeat center center/cover;
}

#page-2{
    background: url(../img/img2.jpg) no-repeat center center/cover;
}

#page-3{
    background: url(../img/img3.jpg) no-repeat center center/cover;
}

#page-4{
    background: url(../img/img4.jpg) no-repeat center center/cover;
}

/* Page animation */

#page-1 h1{
    transform: translateY(-1400px);
    animation: heading var(--animation-speed) forwards ease-in;
}

#page-1 p{
    transform: translateX(-1900px);
    animation: paragraph var(--animation-speed) forwards ease-in 1s;
}

/* Keyframes*/

@keyframes heading{
    to{
        transform: translateY(0px);
    }
}

@keyframes paragraph{
    to{
        transform: translateX(0px);
    }
}

/* Footer styling */

#page-footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: transparent;
    color: #fff;
    text-align: center;
}

#page-footer-p{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
    font-style: italic;
}